<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html"
      [class]="{highlight: isHighlight}"
      [style]="{fontSize: fontSize + 'px'}">練習Angular網站</a>
    <input class="form-control form-control-sm search-input" type="text"
      placeholder="Keyword" [(ngModel)]="keyWord">
    <input class="form-control form-control-sm search-input" type="text" style="width: 60px;"
      placeholder="Keyword2" [value]="counter" (input)="keywordInput($event)">
    <button class="btn btn-sm btn-primary" (click)="searchAction($event);">
      <i class="ion-search"></i>
    </button>
    <span class="highlight" *ngIf="keyWord.trim().length <= 0; else searchTemplate">請輸入查詢條件</span>
    <ng-template #searchTemplate>
      您輸入的是: &nbsp;{{ keyWord }}
    </ng-template>
  </div>
</nav>
